
.page{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    padding: 0% 14%;
    padding-top: 5%;
}
#banner{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(/images/Banner\ Image.png);
    width: 95%;
    height: 600px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}
#hny{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#party{
    color: #FFF;
     text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px
}
#offer{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 120px;
}
#offer-text{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 50px;
}
#ctg{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.invite{
    width: 95%;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(/images/Vectorrr.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main-text{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 7.04px;

}
#sub-text{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
#time-place{
    width: 95%;
    height: 600px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px ;
    
}
.time-place-text{
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}
#join-btn{
    border-radius: 8px;
    background: #F00;
    text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
cursor: pointer;
}
#join-btn:hover{
    background-color: brown;
}
#email-form{
    width: 95%;
    height: 600px;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px ;
    
}
#ibox{
    width: 648px;
    height: 72px;

}
#sub{
    width: 210px;
    height: 75px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}
#form-title{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
#form-text{
    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}
.portfolio{
    margin-top: 100px;
}
#grids{
    width: 95%;
    height: 600px;
    display: flex;
    flex-direction:column;
    gap: 15px;
}